@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FCF300, #FFC500);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8a8500a6;
}

p {
    text-align: justify;
}

h1 {
    color: #082AC9;
    text-align: center;
    text-shadow: 1px 1px 2px #051b7aa8;
}

h2 {
    color: #1F96FC;
}